<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <include resource="org/springframework/boot/logging/logback/base.xml" />

<!--    <logger name="org.springframework.ai" level="DEBUG" />-->
<!--    <logger name="org.springframework.web.client" level="DEBUG" />-->
<!--    <logger name="org.springframework.http.client" level="DEBUG" />-->
<!--    <logger name="org.springframework.beans.factory" level="DEBUG" />-->
<!--    <logger name="org.springframework.context" level="DEBUG" />-->

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>